body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  z-index: 1000;
  border-bottom: rgb(122, 122, 122) 2px solid;
}
.headerText{
    padding: 0 50px;
}
.role{
    background-color: rgb(219, 219, 219);
    padding: 2px 10px;
    border-radius: 5px;
    width: fit-content;
}